<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <h1 style="font-size:64px; text-align: center;">Tank Control Panel</h1>
    <div>
        <h1 style="font-size: 48px;">Tank movement:</h1>
        <button id="up">↑</button>
        <button id="down">↓</button>
        <button id="left">←</button>
        <button id="right">→</button>
    </div>
    <div>
        <h1 style="font-size: 48px;">Output sound:</h1>
        <input id="soundUrl" type="text" placeholder="Enter URL" size="50" style="font-size: 24px">
        <button style="width:10%" id="playSound">Play Sound</button>
        <button style="width:10%" id="stopSound">Stop</button>
    </div>
    <script src="script.js"></script>
</body>
</html>