html {
    font-family: 'Inter', sans-serif; 
    background-color: #121212; 
    color: #E0E0E0; 
    padding:20px;
}

button { 
    width: 60px; 
    height: 60px; 
    font-size: 24px; 
    margin: 5px; 
    background-color: transparent; 
    color: #E0E0E0; 
    font-weight: bold;
} 